*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.bi-facebook , .bi-instagram, .bi-whatsapp {
    cursor: pointer;
}
.textsize{

    font-size: 14px;
}
.title-small {
    color: #65a15a;
    font-size: 14px;
    letter-spacing: 0.05em;
    font-weight: 700;
    padding: 0;
    text-transform: uppercase;
    margin-bottom: 12px;
}
 .title-big {
    font-size: 3rem;
    font-weight: 700;
    line-height: 1;
    max-width: 370px;
    color: #fff;
    text-transform: capitalize;
}
.code{
    text-transform: uppercase;
    color: #eee;
    margin-bottom: 2rem;
}
.number-code {
    color: #65a15a;
    font-size: 1.75rem;
    font-weight: 700;
}
.button{
    padding: 14px 20px;
    background: #65a15a;
    border: 1px solid #65a15a;
    color: #fff;
    margin-right: 5px;
    min-width: 110px;
    border-radius: 0;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
}

@media (max-width:768px) {
.title-big {
    font-size: 2rem;
}
.number-code {
    font-size: 1.25rem;
}
.button{
    padding: 0.5rem 0.75rem;
}

}

/* footer */
footer{
    background-color: whitesmoke;
}
footer ul{
    margin-bottom: 0;
    padding-left: 0;
}
footer a{
    text-decoration: none;
    color: black;
}
footer li{
    list-style: none;
    line-height: 1.75;
}
footer h3{
    text-decoration: underline;
    text-underline-offset: 8px;
    margin-bottom: 1rem;
}
footer .icons i{
    font-size: 1.5rem;
    background-color: #65a15a;
    color: #fff;
    padding: 0.35rem 0.75rem;
    border-radius: 50%;
    transition: 0.3s;
}
footer .icons i:hover{
   background-color: #4a7642; 
   color: #eee;
}
.atlast{
    background-color:#333;
    color: #fff;
    text-align: center;
    padding: 0.5rem;

}
.atlast p{
    margin-bottom: 0;
    font-size: 14px;
    font-weight: bold;
}
.atlast a{
    color: #fff;
    text-decoration: none;
}
/* header */

.toppest{
    background-color: #036601;
}
.toppest a {
    font-size: 14px;
    text-decoration: none;
    color: #fff;
    line-height: 1.25;
}
.toppest a i{
    font-size: 1.25rem;
}
.toppest_icons i{
    margin-left: 1rem;
    color: #fff;
}

.header{
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 100;
    /* border-bottom:2px solid #65a15a; */
    box-shadow: 0px 1px 8px #65a15aa1;
}
.openmenu{
    font-size: 2rem;
    color: #036601;
}

.header li{
    list-style: none;

}
.header ul{
    margin-bottom: 0;
    padding-left: 0;
}
.header a{
   text-decoration: none;
   color: #036601;
   font-weight: 700;
   font-size: 14px;
}

/* menu */
.menu{
    background-color: #f5cb68d0;
    backdrop-filter: blur(10px);
    width: 280px;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -350px;
    padding: 2rem 0;
    z-index: 100;
    transition: 0.3s linear;
}
.menu > div{
    /* width: fit-content; */
    display: flex;
    align-items: center;
    justify-content: space-between;
padding-left: 2.5rem;
color: #65a15a;
position: relative;
}
.menu > div i{
    font-size: 2rem;
    background-color: #65a15a;
    color: #fff;
    padding:0 0.5rem;
    border-radius: 50%;
    position: absolute;
    transform: translateX(-120%);
}

.menu ul{
    padding-left: 0;
    margin-bottom: 0;
}
.menu ul li{
    list-style: none;
    border-bottom: 2px solid white;
    padding: 1rem 2.5rem;
}
.menu ul li a{
    text-decoration: none;
    color: #fff;
font-weight: bold;
}
/* banner */
 .b2{
 background-image: url(../images/banner3.jpg); 
 }
 .b1{
     background-image: url(../images/banner4.avif); 
 }
 .b3{
    background-image: url(../images/ogbanner.jpeg);
 }
 .b4{
    background-image: url(../images/trellis.jpeg);
 }
 .b5{
    background-image: url(../images/orgbanner\ \(1\).jpeg);
 }
  .b6{
    background-image: url(../images/orgbanner\ \(2\).jpeg);
 }
  .b7{
    background-image: url(../images/orgbanner\ \(3\).jpeg);
 }
  .b8{
    background-image: url(../images/ogbanners\ \(1\).jpeg);
 }
  .b9{
    background-image: url(../images/ogbanners\ \(2\).jpeg);
      
 }
.banner-section{
    height: 60vh;
    background-repeat: no-repeat;
     background-position: center;
      background-size: cover;
}

.banners-content{
    height: 100%;
    width: 100%;
    /* object-fit: cover; */
     background-color: rgba(0, 0, 0, 0.37);
    display:flex;
     align-items: center; 
    justify-content: end;
}
.slider-information{
    transform: translateX(-100%);
}

.slick-next {
    right: 75px !important;
}
.slick-prev {
left: 30px !important;
z-index: 99;
}


.slick-next:before, .slick-prev:before {
    font-family: slick;
    font-size: 4rem !important;
}

@media (max-width:768px) {
    .slick-next:before, .slick-prev:before {
    font-family: slick;
    font-size: 2.5rem !important;
}
.slick-next {
    right: 30px !important;
}
.slick-prev {
left: 10px !important;
}
.slider-information{
    transform: translateX(-50%);
}
} 

/* discount banners */
.discount-banner .container {
 background-image: url(../images/db1.jpg);
    background-position: right bottom;
    /* background-size: contain; */
    background-repeat: no-repeat;
    border-radius: 0;
    position: relative;
    background-color: #eee;
}


@media (min-width:992px) {
  .banner-content {
   width: 70%;
}
}
@media (max-width:992px) {
 .discount-banner .container {
 background-image:none;
}
}
@media (max-width:768px) {
.discount-banner .title-big {
    font-size: 1.25rem;
}
.discount-banner .number-code {
    font-size: 1rem;
}
.discount-banner .code{
    font-size: 12px;
}
}


/* About us */
.about-us{
    /* background-image: url(../images/AB1.jpg); */
    background-image: url(../images/banner2.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: right;
}
.about-us > div {
    background-color: rgba(0, 0, 0, 0.607);
    backdrop-filter: blur(10px);
     width: 100%; 
     display: flex;
      align-items: center;
       justify-content: center;
}

@media (min-width:1200px) {
    .about-us > div > div{
     width: 60%;
}
}
.about-us > div p{
    font-size: 14px;
font-weight: 500;
/* color: #000000be; */
color: #fff;
}


.about-us > div .number-code{
    position: relative;
    width: fit-content;
    padding-bottom: 0.5rem;
}
.about-us > div .number-code::after{
content: "";
position: absolute;
bottom: 0;
left: 0;
height: 4px;
width: 1rem;
background-color: white;
transform: translateX(0%);
animation: move 3s linear infinite;
}
@keyframes move {
    0% , 100% {
       transform: translateX(0%);
    }
    50%{
      transform: translateX(calc(100px - 1rem));
    }
}
.about-us > div .number-code::before{
content: "";
position: absolute;
bottom: 0;
left: 0;
height: 4px;
width: 100px;
background-color: #f5cb68;
}

/* services */
.service-number{
    position: absolute;
    top: -20px;
    left: 1rem;
    padding: 0.5rem 1rem;
    background-color: #65a15a;
    color: #eee;
    width: fit-content;
    font-size: 3rem;
    border-radius: 5px 0 20px 20px;
}

.service-number::after{
    content: "";
    position: absolute;
    top:0;
    right: -20px;
    /* background-color: #5a2106; */
    height: 20px;
    width: 20px;
   
    border-top: 20px solid transparent;
    border-left: 20px solid grey;
}
.service-text p{
    font-size: 14px;
    /* color: #; */
   
}
.oservicess img{
    /* aspect-ratio: 3 / 2; */
}



.banner-content .number-code{
    position: relative;
    width: fit-content;
    padding-bottom: 0.5rem;
}
.banner-content .number-code::after{
content: "";
position: absolute;
bottom: 0;
left: 0;
height: 4px;
width: 1rem;
background-color: white;
transform: translateX(0%);
animation: move 3s linear infinite;
}
.banner-content .number-code::before{
content: "";
position: absolute;
bottom: 0;
left: 0;
height: 4px;
width: 100px;
background-color: #f5cb68;
}






/* about us page */


/* small banner */
.smallbanner{
    background-color: #4a7642;
    width: 100%;
    object-fit: cover;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.smallbanner > div p{
    font-size: 3rem;
    color: #fff;
    font-weight: 700;
}
.smallbanner > div span{
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
}
@media (max-width:768px) {
    .smallbanner > div p{
        font-size: 2rem;
    }
}

.aboutcontent p{
font-size: 14px;
color: grey;
}

/* about us sec */
        .aboutussec .container {
            transform: translateY(-50px);
            background-color: #fff;
            padding: 2rem;
            border-radius: 10px;
            box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.3);
        }

        .about_images {
            display: flex;
            position: relative;
        }

        .about_images img {
            width: 50%;
            height: 100%;
            border: 2px solid #fff;
            border-radius: 10px;
        }

        .about_images .experiences {
            background-color: #f5cb68;
            color: #fff;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50px);
            padding: 1rem 3rem;
            border-radius: 10px 10px 0;
            border: 5px solid #fff;
            font-weight: bold;
        }

        .about_images .experiences span {
            font-size: 3rem;
            font-weight: bold;
        }
        @media (max-width:768px) {
             .about_images .experiences {
                 padding:0.5rem 1rem;
                  transform: translateX(-25px);
                   font-weight: normal;
             }
             .about_images .experiences span {
            font-size: 1rem;
        }
        }
        

        /* mission */
        .ourmissionpara{
             position: relative;
    font-style: italic;
    width: 90%;
    left: 50%;
    
    transform: translateX(-50%);
    padding:3rem 2rem 4rem;
        }
        .ourmissionpara::before {
    content: "“";
    font-size: 4rem;
    position: absolute;
    left: -15px;
    top: -5px;
    color: #f5cb68; /* optional */
}

.ourmissionpara::after {
    content: "”";
    font-size: 4rem;
    position: absolute;
    right: -15px;
    bottom: -5px;
    color: #f5cb68; /* optional */
}
@media (max-width:768px) {
 .ourmissionpara{
    padding:3rem 0.5rem 4rem;
 }   
}


/* services page */
.ossec .title-big , .git .title-big{
    color: #4a7642;
}

/* contact us page */
    .contactfrm >div{
background-image: url("../images/aboutusbanners2.jpeg");
background-repeat: no-repeat;
background-position: center;
background-size: cover;

}
  .contactfrm >div > div{
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    padding: 2.5rem 0;
  }
  .contactfrm form{
width: 50%;
}
.contactfrm .title-big{
    color: #65a15a;
}
.contactfrm form input , .contactfrm form textarea{
    width: 100%;
    margin-top: 1rem;
    padding: 1rem;
    box-shadow: 0px 4px 8px rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    background-color: #d7fbd0;
    border: none;
}
.contactfrm form input:focus , .contactfrm form textarea:focus{
    border: 2px solid #65a15a;
    outline: none;
}

.tra{
    transform: translateX(50%);
}
@media (max-width:768px) {
    .tra{
    transform: translateX(30%);
}
.gittext{
    font-size: 14px;
}
.contactfrm form{
width: 90%;
}
}

/* gallery page */
.gallery .row img{
    aspect-ratio: 1 / 1;
}